.breadcrum{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5e5e5e;
    font-size: 12px;
    font-weight: 400;
    margin: 20px 70px;
    text-transform: capitalize;
}
.breadcrum img{
    width: 0.5vw;
}